body {
  font-family: Arial, sans-serif;
  text-align: center;
}
#message {
  font-size: 20px;
}
button {
  padding: 10px 15px;
}
.button-row {
  display: flex;       
  flex-wrap: wrap;         
  justify-content: center; 
  gap: 10px;                
}
.text-row {
 text-align: center;
}